.listBook {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 2px black;
  width: 25vw;
}

#login {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login > form {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login > form > * {
  align-self: flex-start;
  padding: 1vh;
}

#login > form > button {
  align-self: center;
  margin: 1vh;
}

#pwbutt {
  margin: 0;
}

#register {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#register > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#register > form > * {
  align-self: flex-start;
  padding: 1vh;
}

#navbar {
  display: flex;
  justify-content: space-between;
}

#user {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#checked {
  width: 40vw;
  padding: 1vh;
  display: flex;
  justify-content: space-between;
  border: solid 1px black;
}

#log {
  display: flex;
  flex-direction: column;
}

#details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#details > img {
  height: 60vh;
  width: auto;
}
